body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p,h1,h2,h3,h4,h5,h6,a {
  font-family: 'Open Sans Condensed', sans-serif;
}

.body_content {
  background-color: #C8D6E5
}

/****************** HOME PAGE ******************/
.home_page {
  background-color:#C8D6E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #000;
}

.welcome_button:hover {
  cursor: pointer;
}

.landing_title{
  font-size: 30px;
}

.landing_title, .position_title {
  text-transform: uppercase;
}

/****************** ABOUT PAGE ******************/
.about_page, .work_page,.life_page{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_content{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/****************** ABOUT PAGE ******************/
.job-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.job-title {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}


/****************** FOOTER ******************/
.footer_section{
  height: 5vh;
  background-color: #C8D6E5
}


/****************** NAV ******************/

.main-nav {
  background-color: #C8D6E5;
  display: grid;
  grid-template-columns: auto;
}

.ui.secondary.pointing.menu {
  border: none;
  padding-top: 1vh;
}

/****************** QUOTE ******************/
.quotePage {
  background-color:#C8D6E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}


