body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p,h1,h2,h3,h4,h5,h6,a {
  font-family: 'Open Sans Condensed', sans-serif;
}


/****************** HOME PAGE ******************/
.home_page {
  background-color:#C8D6E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #000;
}

.welcome_button:hover {
  cursor: pointer;
}

.landing_title{
  font-size: 30px;
}

.landing_title, .position_title {
  text-transform: uppercase;
}

/****************** BODY ******************/


/****************** FOOTER ******************/
.footer_section{
  height: 5vh;
}


/****************** NAV ******************/

.main-nav {
  background-color: #C8D6E5;
  display: grid;
  grid-template-columns: auto;
}

.ui.secondary.pointing.menu {
  border: none;
  padding-top: 1vh;
}

/****************** QUOTE ******************/
.quotePage {
  background-color:#C8D6E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}